.login_page {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
  /* width: fit-content; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  position: relative;
  overflow: visible;
}
.box_shadow {
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 25px;
  z-index: 1;
  background-color: white;
}

.home_page_icon_01 {
  position: absolute;
  z-index: 0;
  max-width: 300px;
  top: 0%;
  /* left: 77%; */
  right: 0%;
}

.home_page_icon_02 {
  position: absolute;
  z-index: 0;
  max-width: 300px;
  top: 82%;
  left: 75%;
}

.home_page_icon_03 {
  position: absolute;
  z-index: 0;
  max-width: 300px;
  bottom: 0%;
  left: 0%;
}

@media (min-width: 768px) and (max-width: 1239px) {
  .login_page{
    margin-top: 250px;
  }
  .home_page_icon_01 {
    top: -250px;
    left: 71%;
    /* display: none; */
  }

  .home_page_icon_02 {
    /* display: none; */
  }

  .home_page_icon_03 {
    top: 85%;
    left: -15%;
    /* display: none;} */
  }
}

@media (max-width: 768px) {

  .login_page{
    max-width: 100vw;
    max-height: 100vh;
  }

  .home_page_icon_01 {
    /* top: 0%;
    left: 80%; */
    display: none;
  }

  .home_page_icon_02 {
    display: none;
  }

  .home_page_icon_03 {
    /* top: 85%;
  left: -15%; */
    display: none;
  }
}
