* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.login_page {
  padding: 0 400px;
}
.section_title {
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.section_subtitle {
  color: black;
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section_subtitle_button {
  color: darkblue;
  font-weight: 600;
  cursor: pointer;
}
.section_input_title {
  color: darkblue;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  margin: 30px 0;
  padding: 10px 0;
  width: max-content;
}
.Password_input {
  position: relative;
  width: fit-content;
  padding: 30px 0;
  height: 50px;
}
.login_input {
  position: absolute;
  margin: 0px 0px;
}

i.icon {
  position: absolute;
  z-index: 3;
  margin-top: 7px;
  margin-left: 370px;
  color: lightgray;
  cursor: pointer;
}

.login_input {
  width: 400px;
  height: 30px;
}

.login_button {
  margin-top: 20px;
  background-color: darkblue;
  color: white;
  font-size: 22px;
  width: 400px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
