.advantages_section {
  padding: 90px 0 100px;
  background-color: #f1faff;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 0;
}
.col_container {
  margin-right: 25px;
  flex-direction: column;
}
.content_link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  margin-bottom: 10px;
  z-index: 1;
  cursor: pointer;
}

.content_link:hover {
  background-color: #fff;
}

.features_content {
  margin: 10px 0;
}

.features_content h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 21px;

  font-family: "Nunito", sans-serif;
  line-height: 1.2;

  color: #071e55;
  font-weight: 700;
}

.features_content p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}

.features_logo {
  float: left;
  margin: 1px 25px 10px 0;
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;

  font-size: 40px;
  line-height: 80px;
  position: relative;

  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.features_logo.blue {
  color: #1e90ff;
}
.features_logo.red {
  color: #e52f37;
}

.features_logo.green {
  color: #27b36a;
}
.content_link.active {
  background: #fff;
}
.slide_image_container {
  display: flex;
  position: relative;
}
.slide_image.appear {
  opacity: 1 !important;
  transition: 0.1s;
}

.slide_image.image_01 {
  width: 100%;
  object-fit: contain;
  opacity: 0;

  z-index: 3;
}
.slide_image .img_01 {
  width: 100%;
  border-radius: 8px 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}

.slide_image.image_02 {
  width: 100%;
  object-fit: contain;
  position: absolute;
  opacity: 0;

  z-index: 4;
}
.slide_image .img_02 {
  width: 100%;
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}
.slide_image.image_03 {
  width: 100%;
  object-fit: contain;
  position: absolute;
  opacity: 0;

  z-index: 5;
}
.slide_image .img_03 {
  width: 100%;
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}
.slide_image.image_02 {
  position: absolute;
  z-index: 4;
}
.slide_image.image_03 {
  position: absolute;
  z-index: 5;
}
