.advantages_section {
  padding: 90px 0 100px;
  background-color: #f1faff;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 0;
}
.col_container {
  margin-right: 25px;
  flex-direction: column;
}
.content-link {
  padding: 8px 16px;
  text-decoration: none;
  margin-bottom: 10px;
  z-index: 1;
}
.features_content {
  margin: 10px 0;
}
.features_logo .blue {
  color: #1e90ff;
}
.features_logo .red {
  color: #e52f37;
}

.features_logo .green {
  color: #27b36a;
}
.content-link .active {
  background: #fff;
}
.slide_image_container {
  display: flex;
  position: relative;
}
.slide_image.image_01 {
  width: 100%;
  object-fit: contain;

  z-index: 3;
}
.slide_image .img_01 {
  width: 100%;
  border-radius: 8px 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}
.slide_image.image_02 {
  width: 100%;
  object-fit: contain;
  position: absolute;
  opacity: 0;

  z-index: 4;
}
.slide_image .img_02 {
  width: 100%;
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}
.slide_image.image_03 {
  width: 100%;
  object-fit: contain;
  position: absolute;
  opacity: 0;

  z-index: 5;
}
.slide_image .img_03 {
  width: 100%;
  border-radius: 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}
/* .slide_image.image_02 {
  position: absolute;
  z-index: 4;
}
.slide_image.image_03 {
  position: absolute;
  z-index: 5; 
}*/
