.discover_section {
  padding: 90px 0 100px;
}
.discover_image_container {
  margin-right: 15px;
  border-radius: 8px 8px;
  margin-bottom: 50px !important;
  margin-top: auto;
  margin-bottom: auto;
}
.discover_image {
  width: 100%;
  object-fit: contain;

  border-radius: 8px 8px;
  transform: translateX(-200%);
}

.discover_image.show {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.discover_section h3 {
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  color: #071e55;
  font-weight: 700;
}
.discover_section p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.benefits {
  margin-bottom: 20px;
  color: #858585;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}
.benefits .fa-check {
  color: red;
}
ul.benefits li {
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 8px;
}
.discover_button {
  display: inline-block;
  font-size: 18px;
  padding: 14px 20px;
  margin: 5px 10px 10px 0;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  border-color: #e52f37;
  background-color: #e52f37;
  color: #fff;
  text-decoration: none;
  border: 1px solid #e52f37;
  border-radius: 23px;
}
.discover_button:hover {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.25s ease-in-out;
}
