.home_section {
  position: relative;
  z-index: 9;
  padding-top: 140px;
  padding-bottom: 110px;
  background: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg0.jpg)
    top center no-repeat;
  background-size: cover;
  background-attachment: inherit;
}
@media (max-width: 375px) {
  .home_section {
    padding-top: 65px;
    padding-bottom: 70px;
  }
  .home_section_title {
    font-size: 38px;
    line-height: 44px;
  }
}

@media (max-width: 768px) {
  .home_section {
    padding-top: 65px;
    padding-bottom: 90px;
    background-attachment: inherit;
  }

  .home_section_overlay {
    opacity: 0.37;
  }
}

@media (max-width: 991px) {
  .home_section {
    padding-top: 170px;
    padding-bottom: 70px;
    background-attachment: inherit;
  }
  .home_section_title {
    font-size: 38px;
    line-height: 44px;
  }
}

.home_section_overlay {
  z-index: -1;
  width: 100%;
  background: #000;
  opacity: 0.39;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home_section_title {
  margin-bottom: 20px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 1px 1px #373737;
  font-size: 45px;
}

.home_section_subtitle {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px #373737;
}

.popup_video_wrapper {
  position: relative;
  margin-top: 25px;
}

.popup_video_box {
  float: left;
  /* display: inline-block; */
  position: relative;
}

.popup_video_button {
  float: left;
  width: 60px;
  height: 60px;
  background: #fff;
  position: relative;
  border: 2px solid #fff;
  border-radius: 50% 50%;
  /* display: inline-block; */
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  outline: 0;
}

.popup_video_button::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100%;
  left: 50%;
  margin-left: -31px;
  bottom: 10%;
  margin-bottom: -9px;

  animation: pulsation 1.9s ease infinite;
  z-index: 0;
}

@keyframes pulsation {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  50% {
    opacity: 0.55;
  }

  100% {
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

.popup_video_button:hover {
  background: transparent;
}
.popup_video_button:hover .fa-play {
  color: #fff;
}

.popup_video_button i {
  font-size: 26px;
  line-height: 56px;
  color: #e52a3d;
  margin-left: 18px;
  transition: all 0.4s ease-in-out;
  font-weight: 900;
}

.popup_video_text {
  float: left;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-decoration: underline;
  text-shadow: 1px 1px #656565;
}

.form_wrapper {
  margin-top: 25px;
  padding: 40px 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px 5px;
}

.form_title {
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  margin-top: 0;
  color: #071e55;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}

.form_subtitle {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 25px;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}

.register_form_term {
  line-height: 28px;
  font-weight: 400;
  margin: 10px 0 5px 0;
  font-size: 14px;
  color: #7c8595;
  text-shadow: none;
}

input.company_name_input {
  width: 100% !important;
  height: 52px !important;
  padding-left: 11% !important;
  padding-right: 5% !important;
  margin-bottom: 15px !important;
  color: #555 !important;
  border: 1px solid #f1f1f1 !important;
  background-color: #f9f9f9 !important;
  font-size: 16px !important;
  border-radius: 5px 5px 5px 5px !important;
  background: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/input-user.png)
    no-repeat 12px 15px;
}

input.email_input {
  width: 100% !important;
  height: 52px !important;
  padding-left: 11% !important;
  padding-right: 5% !important;
  margin-bottom: 15px !important;
  color: #555 !important;
  border: 1px solid #f1f1f1 !important;
  background-color: #f9f9f9 !important;
  font-size: 16px !important;
  border-radius: 5px 5px 5px 5px !important;
  background: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/input-envelope.png)
    no-repeat 12px 15px;
}
select.select_input {
  width: 100% !important;
  height: 52px !important;
  padding-left: 11% !important;
  padding-right: 5% !important;
  margin-bottom: 15px !important;
  color: #555 !important;
  border: 1px solid #f1f1f1 !important;
  background-color: #f9f9f9 !important;
  font-size: 16px !important;
  border-radius: 5px 5px 5px 5px !important;
  background: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/input-select.png)
    no-repeat 12px 15px;
}

.submit_input {
  background: #e52f37;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  max-width: 535px;
  padding: 16px 0;
  text-transform: uppercase;

  border-radius: 3px 3px;
  transition: all 0.5s ease-in-out;
}

.submit_input:hover {
  background: #27b36a;
  transition: all 0.5s ease-in-out;
}

/* .home_section {
  display: flex;
  position: relative;
  padding-top: 140px;
  padding-bottom: 110px;
}

.home_background {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: -80px;
  z-index: -2;
}
.home_background img {
  width: 100%;
  min-width: 1140px;
  filter: brightness(0.7);
}

.home_section_container {
  width: 100%;
  box-sizing: content-box;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home_section_description {
  color: #ffffff;
  flex: 0 50%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 10px;
  padding-right: 10px;
}

.home_section_description h1 {
  font-size: 45px;
  margin: 30px 0 20px;
}
.home_section_description .paragraph_1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 35px;
}

.home_section_signin {
  flex: 0 50%;
  z-index: 2;

  margin: -20px 20px 0;
}
.home_section_signin_form {
  margin-left: 8.3%;
  background-color: white;
  width: 90%;
  height: 100%;
  box-sizing: content-box;
}
.home_section_signin_container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}
.home_section_signin_container h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}
.home_section_signin_container p {
  font-size: 17px;
  margin-bottom: 25px;
}
.home_section_signin_input
{
  display: flex;
  flex-direction: column;
} */
