.home_section
{
    display: flex;
    position: relative;
    padding-top:  140px ;
    padding-bottom: 110px;
    
}

.home_background
{
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: -80px;
  z-index: -2;
  
  
}
.home_background img
{
    width: 100%;
    min-width: 1140px;
    filter: brightness(0.7);
}

.home_section_container
{
  width: 100%;
  box-sizing: content-box;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.home_section_description
{
  color: #ffffff;
  flex: 0 50%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 10px;
  padding-right: 10px;
}
.home_section_signin
{
  
  flex: 0 50%;
  z-index: 2;
  background-color: white;
  margin: -20px 20px 0;
}

.home_section_description h1
{
  font-size: 45px;
  margin: 30px 0 20px;

}
.home_section_description .paragraph_1
{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 35px;
}