.reviews_section {
  background: #f1faff;
  padding: 90px 0 100px 0;
}

.reviews_title {
  font-size: 38px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  color: #071e55;
  font-weight: 700;
}
.reviews_content {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 20px;
}
.reviews_rating.first {
  border-right: 1px solid #cecece;
}
.reviews_rating p {
  margin-bottom: 5px;
  font-weight: bold;
  color: #071e55;
  font-size: 17px;
  line-height: 28px;
}
.reviews_stars {
  margin-bottom: 30px;
  color: #fdcc28;
}
