.icon
{
    margin-top: 40px;
}
.icon .alphabet
{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 8px 6px 0px;
    margin-right: 10px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    background-color: black;
    color: white;
}
.icon .name
{
    font-size: larger;
    font-weight: bolder;
    margin-right: 400px;
}
.icon .web_icon
{

    color: red;


}