.skill_tree
{
    margin-top: 20px;

}
.skill_box
{
    display: inline-block;
    width: 45%;
    
    margin: 20px 35px 20px 0px ;
}

.skill_box h3
{
  display: block;
  font-weight: bolder;
  text-decoration: 3px underline solid deeppink;
  
  margin: 30px 0px;
  
}

/* .skill_box .container
{
  display: block;
  border-radius: 25%;

} */
.skill {
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 14px;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 20px;
}
